### 1: Importing Packages

In [1]:
import numpy as np
import pandas as pd
from numpy import array
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.metrics import mean_squared_error, r2_score

### 2: Load Dataset

In [2]:
# Load dataset
df = pd.read_csv("co2_emissions_from_agri.csv", delimiter=";")
df.drop(columns=["Unnamed: 31"], inplace=True)
df.head()

,Area,Year,Savanna_fires,Forest_fires,Crop_Residues,Rice_Cultivation,Drained_organic_soils_CO2,Pesticides_Manufacturing,Food_Transport,Forestland,...,Manure_Management,Fires_in_organic_soils,Fires_in_humid_tropical_forests,On_farm_energy_use,Rural_population,Urban_population,Total_Population_Male,Total_Population_Female,total_emission,Average_Temperature_C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.00,0.0,11.807483,63.1152,-2388.803,...,319.1763,0.0,0.0,141.0963,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.16,0.0,11.712073,61.2125,-2388.803,...,342.3079,0.0,0.0,141.0963,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.00,0.0,11.712073,53.3170,-2388.803,...,349.1224,0.0,0.0,141.0963,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.00,0.0,11.712073,54.3617,-2388.803,...,352.2947,0.0,0.0,141.0963,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.60,0.0,11.712073,53.9874,-2388.803,...,367.6784,0.0,0.0,141.0963,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250

In [3]:
# Displays the number of rows and columns
df.shape

(6965, 31)

In [4]:
## Display summary information about the DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965 entries, 0 to 6964
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             6965 non-null   object
 1   Year                             6965 non-null   object
 2   Savanna_fires                    6965 non-null   float64
 3   Forest_fires                     6965 non-null   float64
 4   Crop_Residues                    6965 non-null   float64
 5   Rice_Cultivation                 6965 non-null   float64
 6   Drained_organic_soils_CO2        6965 non-null   float64
 7   Pesticides_Manufacturing         6965 non-null   float64
 8   Food_Transport                   6965 non-null   float64
 9   Forestland                       6965 non-null   float64
 10  Net_Forest_conversion            6965 non-null   float64
 11  Food_Household_Consumption       6965 non-null   float64
 12  Food_Retail                      6965 non-null   float64
 13  On_farm_Electricity_Use          6965 non-null   float64
 14  Food_Packaging                   6965 non-null   float64
 15  Agrifood_Systems_Waste_Disposal  6965 non-null   float64
 16  Food_Processing                  6965 non-null   float64
 17  Fertilizers_Manufacturing        6965 non-null   float64
 18  IPPU                             6965 non-null   float64
 19  Manure_applied_to_Soils          6965 non-null   float64
 20  Manure_left_on_Pasture           6965 non-null   float64
 21  Manure_Management                6965 non-null   float64
 22  Fires_in_organic_soils           6965 non-null   float64
 23  Fires_in_humid_tropical_forests  6965 non-null   float64
 24  On_farm_energy_use               6965 non-null   float64
 25  Rural_population                 6965 non-null   float64
 26  Urban_population                 6965 non-null   float64
 27  Total_Population_Male            6965 non-null   float64
 28  Total_Population_Female          6965 non-null   float64
 29  total_emission                   6965 non-null   float64
 30  Average_Temperature_C            6965 non-null   float64
dtypes: float64(29), object(2)
memory usage: 1.6+ MB

### 3:

### 4: